body {
  margin: 0; padding: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: justify;
  background: #222;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: #f6b100;
  -webkit-transition: color 0.5s; /* Safari prior 6.1 */
  transition: color 0.5s;
}
a:hover{color:white;}

#map{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.logo{
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 9999;
}
  .logo img{
    width: 120px;
    -webkit-transition: width 0.5s; /* Safari prior 6.1 */
    transition: width 0.5s;
    position: absolute;
    top: 0;
    left: 0;
  }
  .logo img.logoCircle{
    animation: rotation 25s infinite linear;
    z-index: -1;
    top: 7px;
  }
.sound-card{
  position: absolute;
  top: 12%;
  left: 7%;
  margin: 0 auto;
  width: 60%;
  height: 70%;
  padding: 60px 10%;
  background: rgba(25, 26, 26,0.8);
  border-left: solid 1px #1b1f22;
  color: #ddd;
  z-index: 3;
  overflow-y: auto;
}
  .close{
    position: absolute;
    right: 16px;
    color: #f7b300;
    transition: color 0.3;
    font-size: 32px;
    display: block;
    top: 10px;
    cursor: pointer;
  }
  .close:hover{
    color: #b30000;
  }
  .sound-card .infoMedia{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  .sound-card .videoWrapper{
    overflow: hidden;
    position: relative;
    width:100%;
  }
  .videoWrapper::after {
      padding-top: 56.25%;
      display: block;
      content: '';
  }
  .videoWrapper iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }
  .author{
    text-align: right;
    top: -70px;
    position: relative;
    float: right;
  }
  .sound-card .infoCard{
    clear: right;
    margin: 30px 0 30px;
    position: relative;
    top: -35px;
  }
.info{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  padding: 0 60px;
  background: rgba(25, 26, 26,0.8);
  border-left: solid 1px #1b1f22;
  color: #aaa;
  z-index: 3;
  transition: right 0.5;
}
  .info h2{
    margin: 0;
    display: inline-block;
    color: #ddd;
  }
  .info .circle{
    vertical-align: sub;
    margin-right: 5px;
  }
  .info .footer{
    position: absolute;
    bottom: 20px;
    font-size: 15px;
    text-align: center;
    display: block;
    width: 296px;
  }
  .social img{margin: 0 8px;opacity: 0.8}
  .ig{vertical-align: 7px;width: 18px;}
  .copy-left {
    font-size: 18px;
    display: inline-block;
    text-align: right;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    vertical-align: middle;
  }
  .clear{}
  .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl-bottom-left{display:none;}

.mapboxgl-popup-content{
  background: #eee;
  padding: 10px;
}
  .mapboxgl-map {
    font: 14px/20px "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  .mapboxgl-map h3{ font-size: 1.7em; text-align: center;}
  .mapboxgl-popup-content .tag{
    padding: 8px;
    font-size: 1.18em;
    color: grey;
    text-align: center;
    display: inline-block;
  }
  .mapboxgl-popup-close-button{ font-size: 20px;}

  /* SCROLLBAR Customization */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f7b300;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media (min-width:320px){ /* smartphones, iPhone, portrait 480x320 phones */
  .logo img{width: 130px;}
  .info{display:none;}
}
@media (min-width:481px){ /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .logo img{width: 150px;}
  .info{display:none;}
}
@media (min-width:641px){ /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .logo img{width: 170px;}
  .info{display:none;}
}
@media (min-width:961px){ /* tablet, landscape iPad, lo-res laptops ands desktops */
  .logo img{width: 190px;}
  .info{
      display:block;
      padding: 0 30px;
      width: 270px;
  }
  .info .infologo{
      display: block;
      margin: 10px auto;
      width: 150px;
  }
  .info p{font-size: 13px;}
  .info h2{font-size: 16px;}
  .info .circle{width:15px;}
  .info .footer{bottom: 15px;font-size: 13px;}
}

@media (min-width:1025px){ /* big landscape tablets, laptops, and desktops */
  .logo{
    top: 20px;
    left: 20px;
  }
  .logo img{width: 240px;}
  .info{
      display:block;
      padding: 0 60px;
      width: 300px;
  }
  .info .infologo{
      display: block;
      margin: 10px auto;
      width: 200px;
  }
  .info p{font-size: 15px;}
  .info h2{font-size: 18px;}
  .info .circle{width:20px;}
  .info .footer{bottom: 20px;font-size: 15px;}
}
@media (min-width:1281px){ /* hi-res laptops and desktops */
  .logo img{width: 260px;}
}
